@model Catalog

<div class="rbt-overlay-page-wrapper">
    <input type="hidden" asp-for="Id" />
    <div class="breadcrumb-image-container breadcrumb-style-max-width">
        <div class="breadcrumb-image-wrapper">
            <img src="~/lib/main_template/assets/images/bg/bg-image-10.jpg" alt="Education Images">
        </div>
        <div class="breadcrumb-content-top text-center">
            <h1 class="title">@Model.Name</h1>
        </div>
    </div>

    <div class="rbt-blog-details-area rbt-section-gapBottom breadcrumb-style-max-width">
        <div class="blog-content-wrapper rbt-article-content-wrapper">
            <div class="content">
                <div class="tagcloud">
                    @foreach (var manufacturer in Model.Manufacturers)
                    {
                        <a asp-action="Details" asp-controller="Manufacturers" asp-route-id="@manufacturer.Id">
                            @manufacturer.Name
                        </a>
                    }
                </div>
                <p>
                    @Model.Description
                </p>
            </div>
        </div>
    </div>
</div>